hw06
.cpp-linter_cache/

Testing/

# clangd cache
.cache/

# Binary / Build output
build/
bin/

# Tar archives
*.tar

# Output executables
out
*.out

# Compilation database (for local editor config and CI)
**/compile_commands.json

docs/
